body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-accent-color: #404BBF;
    --secondary-accent-color: #4D5AE5;
    --dark-background-text: #FFFFFF;
    --light-background-color: #F4F4FD;
}

/* ======= COMPONENTS ======== */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description {
    font-size: 16px;
    line-height: 1.5;
}

/* =====/components========= */

/* =================== HEADER =================== */

.page-header {
    background-color: var(--dark-background-text);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-first {
    color: var(--secondary-accent-color);
}

.logo-second {
    color: var(--primary-text-color);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color)
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-accent-color);
}

.tel,
.email {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color)
}

.tel:hover,
.tel:focus {
    color: var(--primary-accent-color);
}

.email:hover,
.email:focus {
    color: var(--primary-accent-color);
}

/* =================== HERO =================== */

.hero {
    background-color: var(--primary-text-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-background-text);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--dark-background-text);
    cursor: pointer;
    background-color: var(--secondary-accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--primary-accent-color);
}

/* =================== FEATURES =================== */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature-name {
color: var(--primary-text-color)
}

.feature-description {
color: var(--secondary-text-color);
}

/* =================== SERVICES =================== */

.services-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--primary-text-color);
}

/* ================= TEAM MEMBERS ============== */

.team {
    background-color: var(--light-background-color);
}

.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: var(--primary-text-color);
}

.team-name {
text-align: center;
color: var(--primary-text-color);
}

.team-position {
text-align: center;
color: var(--secondary-text-color);
}

/* =========== FOOTER ============ */

.page-footer {
    background-color: var(--primary-text-color);
}

.footer-logo-first {
    color:var(--secondary-accent-color);
}

.footer-logo-second {
    color:var(--light-background-color);
}

.footer-description {
letter-spacing: 0.02em;
color: #E7E9FC;
}

/* ======= PORTFOLIO PAGE =========*/

/* ====== Filter buttons ======= */

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-color);
    background-color: var(--light-background-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--dark-background-text);
    background-color: var(--primary-accent-color);
}

/* <!-- =========== Work examples ============== --> */

.work-name {
color: var(--primary-text-color);
}

.work-description {
color: var(--secondary-text-color);
}